fco () {
    local tags branches target
    branches=$(
        git --no-pager branch --all \
            --format="%(if)%(HEAD)%(then)%(else)%(if:equals=HEAD)%(refname:strip=3)%(then)%(else)%1B[0;34;1mbranch%09%1B[m%(refname:short)%(end)%(end)" \
        | sed '/^$/d'
    ) || return
    tags=$(
        git --no-pager tag | awk '{print "\x1b[35;1mtag\x1b[m\t" $1}'
    ) || return
    target=$(
        (echo $branches; echo $tags) \
        | fzf --no-hscroll --no-multi -n 2 --ansi
    ) || return
    git checkout $(awk '{print $2}' <<<$target)
}

fjrnl () {
    title=$(jrnl --short | fzf --tac --no-sort) \
        && jrnl -on $(echo $title | cut -c 1-16) $1
}

fs () {
    local session
    session=$(tmux list-sessions -F "#{session_name}" \
        | fzf --query=$1 --select-1 --exit-0) \
        && tmux switch-client -t $session
}

tm() {
  [[ -n "$TMUX" ]] && change="switch-client" || change="attach-session"
  if [ $1 ]; then
    tmux $change -t "$1" 2>/dev/null || (tmux new-session -d -s $1 && tmux $change -t "$1"); return
  fi
  session=$(tmux list-sessions -F "#{session_name}" 2>/dev/null | fzf --exit-0) &&  tmux $change -t "$session" || echo "No sessions found."
}
